//- the view for a single user's quiz in the admin panel

extends view-admin-base

block variablesAdmin
  - var title = Quiz for #{adminQuiz.ip}
  - bodyClass += " admin-quiz"

block content
  a.link-admin-main(href="/admin") Back
  +showQuiz
    //- block for last question
    span.current-q
