//- the common elements of the admin view

extends view-layout

block variables
  - var bodyClass = "admin"

block content
    //- place for errors
  h1 Quiz for quiz.ip
  h3#error= errMsg
  a(href="/restart") Restart quiz
  +showQuiz
    //- block for last question
    form.answer(action="/", method="post")
      input(type="number", name="answer")
      button(type="submit") Submit
