//- the view for a user's quiz

extends view-layout

include _includes/show_quiz

append variables
  - var bodyClass = "quiz"
  - var title = "Multiplication quiz"

block content
  .container
    a.restart(href="/restart") Restart quiz
  +showQuiz
    //- block for last question
    form.answer(action="/", method="post")
      input(type="number", name="answer")
      button(type="submit") Submit
